/node_modules
logs
/xvba_excel_backup
.DS_Store
*.pdf
*.docx
*.xlsx
*.xlsm
*.exe
*.dll
*.tmp
*.log
*.csv


.vscode
modAuxiliar.bas
Config_Regras.bas
entrada/
saida/
.venv/

GUIA_NOVO.txt
COMO_USAR.txt
